/*-------------------------
BASE
-------------------------*/

.border1n
{
  border-style: solid;
  border-color: red;
}

.border2n
{
  border-style: solid;
  border-color: blue;
}

.border3n
{
  border-style: solid;
  border-color: orange;
}

.text-white
{
  color: white;
  font-size: 1.5em;
  text-align: center;
  font-family: helvetica;
}

.gray-text
{
  color: #282e37;
}

html,
body {
	color: #777;
  /* gray */
	background: #fff;
  /* white */
}

body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: Times, "Times New Roman", Georgia, serif;
	line-height: 1.3;
}

h2,
h4,
h5,
h6
{
	margin: 0;
	color: #2f3b66;
	line-height: 1.1;
}

h1
{
  margin: 0;
  font-size: 8.2em;
  font-family: courier;
  margin: 0;
	color: #2f3b66;
	line-height: 1.1;
}

h3
{
  margin: 0;
  font-size: 6em;
  margin: 0;
	color: #2f3b66;
	line-height: 1.1;
}

.par
{
  margin-bottom: .25em;
  font-weight: bold;
  font-size: 1.3em;
}

img
{
	max-width: 100%;
	height: auto;
	border: 0;
	vertical-align: middle;
}

a:focus img { background: #000; }
a:hover img { background: #3bb2d0; }
a:active img {background: #af0000; }

blockquote { margin: 0; }

/* fonts */

.font-cursive {
    font-family: cursive;
}

.font-eczar
{
  font-family: 'Eczar', serif;
}

.font-eczar__dates
{
  font-family: 'Eczar', serif;
  font-size: 1em;
}

/*------------------
wide
------------------*/

@media (min-width: 38em)
{
	body
	{
		font-size: 1.125em;
		/* 18px/16px */
	}

}
